// Colors

$primary: #00c845;
$success: #4cd3e3;
$info: #38a4ff;
$warning: #f4e700;
$danger: #FF0000;
$link: #f9f9ff;
$text-color: #fff;
$white: #fff;
$offwhite: #f9f9ff;
$black: #000;

// BreakPoints

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;